
/* Container to hide overflow and control alignment */
#slider-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative; 
    /* max-width: 1024px;
    margin: auto; */
}

#slider-container::before,
#slider-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 150px; 
    height: 100%;
    /* background: linear-gradient(to right, #181C1F, transparent); */
    background: linear-gradient(to right, rgba(238, 246, 248, 0.598), rgba(230, 233, 235, 0));
    z-index: 1;
}

#slider-container::after {
    right: 0;
    /* background: linear-gradient(to left, #181C1F, transparent); */
    background: linear-gradient(to left, rgb(250,243,212), rgba(255, 255, 255, 0)); /* Gradient with opacity */
}


#slider {
    display: flex;
    gap: 30px;
    animation: scroll-left 60s linear infinite;
}
/* #slider:hover {
    animation: scroll-left 35s linear infinite;
} */


#slider {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider-img {
    width: 100px;
    height: 70px;
    object-fit: contain;
}


@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
