/* home.css */
.custom-navbar {
    background-color: transparent;
    position: relative;
    z-index: 10; /* Ensures the navbar is above the header */
    padding: 20px 2vw;
    }

.header {
    background-image: url('../assets/header.svg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    height: 20vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5; /* Ensures the header is behind the navbar */
}

.login-btn{
    height:30px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0px 14px;
    font-weight: 500;
    border-radius: 6px;
    background-color: black;
}
.start-btn{
    border: none;
    background-color: rgb(244, 226, 141);
    font-weight: 500;
    color: black;
    display: flex;
    gap:6px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 0px 14px;
    height: 30px;
}

.start-btn:hover{
    background-color: rgb(63, 137, 161);
    color: white;
}

