@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060606;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.new-button_button--purple__hhI2y {
  background: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #8a6cff 0,
      rgba(53, 41, 128, 0) 25.24%
    ),
    linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, 0.04)),
    rgba(147, 130, 255, 0.01);
  box-shadow: 0 0 0 0 rgba(16, 0, 51, 0.4), 0 2px 5px 0 rgba(16, 0, 51, 0.39),
    0 8px 8px 0 rgba(16, 0, 51, 0.34), 0 19px 11px 0 rgba(16, 0, 51, 0.2),
    0 34px 14px 0 rgba(16, 0, 51, 0.06), 0 53px 15px 0 rgba(16, 0, 51, 0.01),
    inset 0 0 12px 0 hsla(0, 0%, 100%, 0.08), inset 0 -8px 32px 0 #1e0d49;
}

.hero_cubespinner__5nU4O {
  animation-name: hero_spincube__bGRiG;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  transform-style: preserve-3d;
  transform-origin: -50% 30px;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center; /* Ensures that the cube is centered */
  align-items: center; /* Ensures that the cube is centered */
}

.hero_cubespinner__5nU4O .hero_face1____5ZN,
.hero_cubespinner__5nU4O .hero_face2__hWvJM,
.hero_cubespinner__5nU4O .hero_face3__qUXn4 {
  position: absolute;
  inset: 0;
  height: 100px; /* Ensure this is enough for the text */
  text-align: center;
  background: linear-gradient(
    50deg,
    #714dff,
    #9c83ff 31.28%,
    #e151ff 77.97%,
    #fff759 95.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_cubespinner__5nU4O .hero_face1____5ZN {
  transform: rotateX(0deg) translateZ(40px); /* Adjust translateZ to push the face outward */
}

.hero_cubespinner__5nU4O .hero_face2__hWvJM {
  transform: rotateX(120deg) translateZ(40px); /* Adjust translateZ to push the face outward */
}

.hero_cubespinner__5nU4O .hero_face3__qUXn4 {
  transform: rotateX(240deg) translateZ(40px); /* Adjust translateZ to push the face outward */
}

@keyframes hero_spincube__bGRiG {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(90deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(0deg);
  }
  75% {
    transform: rotateX(270deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(0deg);
  }
}

@keyframes underlineAnimation {
  0% {
    transform: scaleX(0); /* Start with no width */
  }
  50% {
    transform: scaleX(1); /* Halfway, the line is at full width */
  }
  100% {
    transform: scaleX(0); /* End with no width */
  }
}

/* Optional: Apply any additional styles to the line if needed */
.line {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  transform-origin: left; /* Ensures the scale animation happens from the left side */
  animation: underlineAnimation 5s linear infinite; /* This applies the animation */
}
@keyframes subtleMove {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-10px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}
.logo-grid_full-white__9DeNP {
  opacity: 1;
}
.card {
  min-width: max-content; /* Display 3 cards at a time */
  max-width: min-content; /* Display 3 cards at a time */
  overflow: hidden; /* Ensures others are accessible via scroll */
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}
/* .research-slider_event-card___fO5x {
  border-radius: 16px;
  width: 50px;
}

.research-slider_event-card___fO5x:before {
  content: "";
  position: absolute;
  border-radius: 16px;
  inset: 0;
  background-color: rgba(7,7,7,.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1
}

.research-slider_event-card___fO5x:after {
  content: "";
  position: absolute;
  border-radius: 16px;
  inset: 0;
  z-index: 1;
  background: hsla(0,0%,100%,.02);
  box-shadow: inset 0 24px 48px 0 rgba(199,211,234,.05),inset 0 1px 1px 0 rgba(199,211,234,.12);
  border: 1px solid rgba(209,170,215,.06);
  transition: all .3s ease
}

.research-slider_event-card___fO5x:hover:after {
  transition: all .3s ease;
  border: 1px solid hsla(0,0%,100%,.15)
} */
@keyframes glow {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

/* Class to apply the glowing effect */
.glow-item {
  animation: glow 3s ease-in-out infinite;
}

/* Apply the delay to each item */
.glow-delay-0 {
  animation-delay: 0s; /* First item starts immediately */
}

.glow-delay-3000 {
  animation-delay: 3s; /* Second item starts after 3 seconds */
}

.glow-delay-6000 {
  animation-delay: 6s; /* Third item starts after 6 seconds */
}

/* Optional: Dim the other items while one is glowing */
.glow-item:nth-child(1) {
  opacity: 0.6;
}

.glow-item:nth-child(2) {
  opacity: 0.6;
}

.glow-item:nth-child(3) {
  opacity: 0.6;
}

.logo-grid_full-white__9DeNP {
  opacity: 1;
}

element.style {
}
.new-button_button--pink__gdR3d {
  background: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #c88bc4 0,
      rgba(200, 139, 196, 0) 25.24%
    ),
    linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, 0.04)),
    rgba(200, 139, 196, 0.01);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.39),
    0 8px 8px 0 rgba(0, 0, 0, 0.34), 0 19px 11px 0 rgba(0, 0, 0, 0.2),
    0 34px 14px 0 rgba(0, 0, 0, 0.06), 0 53px 15px 0 rgba(0, 0, 0, 0.01),
    inset 0 0 12px 0 hsla(0, 0%, 100%, 0.08), inset 0 -8px 32px 0 #1e001c;
}

.box_box__wrapper__jXRQR {
  margin: auto;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  /* border:2px solid white; */
  width: 75%;
}

.box_box__wrapper__jXRQR:after,.box_box__wrapper__jXRQR:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  box-sizing: border-box
}

.box_box__wrapper__jXRQR:before {
  border: 1px solid rgba(204,118,255,.06)
}

.box_box__wrapper__jXRQR:after {
  background: rgba(191,83,255,.02)
}
.box_box__chat__AoICB {
  background-color: rgba(0,0,0,.35);
  box-shadow: inset 0 0 12px 0 hsla(0,0%,100%,.08)
}

.box_box__chat__AoICB:after,.box_box__chat__AoICB:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  box-sizing: border-box
}

.box_box__chat__AoICB:before {
  border: 1px solid rgba(209,170,215,.16)
}

.box_box__chat__AoICB:after {
  background: rgba(191,83,255,.02)
}
.bg-utility-yellow {
    --tw-bg-opacity: 1;
    background-color: rgb(255 214 0 / var(--tw-bg-opacity));
}

.bg-utility-green {
    --tw-bg-opacity: 1;
    background-color: rgb(114 206 123 / var(--tw-bg-opacity));
}

.box_box__wrapper__7yWdR {
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  z-index: 1
}

.box_box__wrapper__7yWdR.box_box__wrapper--hoverable___A4_d {
  cursor: pointer
}

.box_box__wrapper__7yWdR.box_box__wrapper--hoverable___A4_d:before {
  transition: border .2s ease-out
}

.box_box__wrapper__7yWdR:after,.box_box__wrapper__7yWdR:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  box-sizing: border-box
}

.box_box__wrapper__7yWdR.box_box-blue__FPEs4 {
  background: rgba(134,191,242,.01)
}

.box_box__wrapper__7yWdR.box_box-blue__FPEs4.box_box__wrapper--hoverable___A4_d {
  border: 1px solid rgba(123,143,221,.06)
}

.box_box__wrapper__7yWdR.box_box-blue__FPEs4.box_box__wrapper--hoverable___A4_d:hover:before {
  border: 1px solid rgba(134,191,242,.4)
}

.box_box__wrapper__7yWdR.box_box-blue__FPEs4:before {
  border: 1px solid rgba(134,191,242,var(--border-opacity))
}

.box_box__wrapper__7yWdR.box_box-blue__FPEs4:after {
  background: hsla(0,0%,100%,.002);
  box-shadow: inset 0 1px 1px rgba(199,211,234,.12),inset 0 24px 48px rgba(199,211,234,.05)
}

.box_box__wrapper__7yWdR:not(.box_box-blue__FPEs4) {
  background: rgba(0,0,0,.3)
}

.box_box__wrapper__7yWdR:not(.box_box-blue__FPEs4).box_box__wrapper--hoverable___A4_d {
  border: 1px solid rgba(209,170,215,0)
}

.box_box__wrapper__7yWdR:not(.box_box-blue__FPEs4).box_box__wrapper--hoverable___A4_d:hover:before {
  border: 1px solid rgba(209,170,215,.4)
}

.box_box__wrapper__7yWdR:not(.box_box-blue__FPEs4):before {
  border: 1px solid rgba(209,170,215,.16)
}

.box_box__wrapper__7yWdR:not(.box_box-blue__FPEs4):after {
  background: rgba(191,83,255,.02);
  box-shadow: inset 0 0 12px 0 hsla(0,0%,100%,.08)
}
.box_box__wrapper__7yWdR.box_box-blue__FPEs4 {
  background: rgba(134, 191, 242, .01);
}