@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #f2f7f7;
    --secondary: #f2f0ff;
    --yellow: #f4e28d; 
    --blue: #bbdde5;
    --pink: #fda599;
    --teal: #3f89a1;
    --gray: #202427;
}

h3{
  font-family: "Hubot Sans", sans-serif;
}

.card-heading{
  font-family: "Funnel Display", sans-serif;
}



.headerSec{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-position: center bottom;
        object-fit: cover;
}

.footerText, .cardItem{
  font-family: "Courier Prime", monospace;
  font-size: 12px;
}

.selector{ 
    animation: scrollText 5s infinite linear; 
}

.selector1 { 
    animation: scrollText1 5s infinite linear; 
}


.tilt-hover {
  transition: transform 0.5s ease;
  transform-style: preserve-3d; 
}

.tilt-hover:hover {
  transform: rotateX(10deg) rotateY(10deg) scale(1.05);
}

@keyframes scrollText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Adjust this based on logo width */
    }
  }


  @keyframes scrollText1 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%); 
    }
  }