/* Full Total_Gitbook */
.total_gitbook {
  background-color: black;
}

/* Navbar */
.gitbook_nav {
  margin-left: 180px;
}

.totalnavbar {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 34%,
    rgba(0, 0, 0, 1) 63%,
    rgba(0, 0, 0, 1) 100%
  );
}

.white {
  color: white;
}

.yellow {
  color: #f4e28d;
}

.bgyellow {
  background-color: #f4e28d;
}

.login_start_free {
  margin-left: 250px;
  display: flex;
  gap: 8px;
}

.ls {
  border-radius: 5px;
  border: none;
  padding: 0px 20px 3px 20px;
}

/* total_product_doc */

.total_product_doc {
  background-color: black;
}

.white {
  color: white;
}

.powblue {
  color: #bbdde5;
}

.two_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 35px;
  gap: 10px;
}

.sign_up_with_github {
  border: 1px solid white;
  border-radius: 5px;
  width: 180px;
  padding: 2px 4px 2px 4px;
  background-color: #2f3235;
}

.Start_for_free {
  border: 1px solid #f4e28d;
  border-radius: 5px;
  background-color: #f4e28d;
  padding: 2px 4px 2px 10px;
  width: 130px;
}

.gitbookeditor_img {
  display: flex;
  justify-content: center;
}

/* publish_unbeatable */

.total_publish_unbeatable {
  background-color: black;
  height: 550px;
}

.Publish_unbeatable {
  background-color: black;
  display: flex;
  justify-content: center;
}

.publish_title {
  margin: 25px 10px;
  padding-left: 150px;
}

.publish_unbeatable_docs-content p {
  margin: 0;
  line-height: 1.5;
  padding-left: 150px;
}

.Publish_unbeatable {
  margin-top: 110px;
  margin-bottom: 150px;
}

/* ----- */
body {
  transition: transform 0.5s ease;
}

.publish_unbeatable_video {
  perspective: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publish_unbeatable_video video {
  transition: transform 0.5s ease;
}

.publish_unbeatable_video:hover video {
  transform: rotateY(15deg) rotateX(10deg) scale(1.05);
}

.publish_unbeatable_video:hover ~ body {
  transform: rotateY(-10deg) rotateX(-5deg);
}

/* better_internal */

.total_better_internal {
  background-color: black;
  height: 550px;
}

.better_internal {
  background-color: black;
  display: flex;
  justify-content: center;
}

.better_title {
  margin: 25px 10px;
  padding-left: 150px;
}

.better_internal_docs-content p {
  margin: 0;
  line-height: 1.5;
  padding-left: 150px;
}

.better_internal {
  margin-top: 110px;
  margin-bottom: 150px;
}

/* ----- */
body {
  transition: transform 0.5s ease;
}

.better_internal_video {
  perspective: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.better_internal_video video {
  transition: transform 0.5s ease;
}

.better_internal_video:hover video {
  transform: rotateY(15deg) rotateX(10deg) scale(1.05);
}

.better_internal_video:hover ~ body {
  transform: rotateY(-10deg) rotateX(-5deg);
}

/* collaborate_on_docs */

.total_collaborate_on_docs {
  background-color: black;
  height: 550px;
}

.collaborate_on_docs {
  background-color: black;
  display: flex;
  justify-content: center;
}

.collaborate_title {
  margin: 25px 10px;
  padding-left: 150px;
}

.collaborate_on_docs_docs-content p {
  margin: 0;
  line-height: 1.5;
  padding-left: 150px;
}

.collaborate_on_docs {
  margin-top: 110px;
  margin-bottom: 150px;
}

/* ----- */
body {
  transition: transform 0.5s ease;
}

.collaborate_on_docs_video {
  perspective: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collaborate_on_docs_video video {
  transition: transform 0.5s ease;
}

.collaborate_on_docs_video:hover video {
  transform: rotateY(15deg) rotateX(10deg) scale(1.05);
}

.collaborate_on_docs_video:hover ~ body {
  transform: rotateY(-10deg) rotateX(-5deg);
}

/* smarter_ai_powered */

.total_smarter_ai_powered {
  background-color: black;
  height: 550px;
}

.smarter_ai_powered {
  background-color: black;
  display: flex;
  justify-content: center;
}

.smarter_title {
  margin: 25px 10px;
  padding-left: 150px;
}

.smarter_ai_powered_docs-content p {
  margin: 0;
  line-height: 1.5;
  padding-left: 150px;
}

.smarter_ai_powered {
  margin-top: 110px;
  margin-bottom: 150px;
}

/* ----- */
body {
  transition: transform 0.5s ease;
}

.smarter_ai_powered_video {
  perspective: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smarter_ai_powered_video video {
  transition: transform 0.5s ease;
}

.smarter_ai_powered_video:hover video {
  transform: rotateY(15deg) rotateX(10deg) scale(1.05);
}

.smarter_ai_powered_video:hover ~ body {
  transform: rotateY(-10deg) rotateX(-5deg);
}

/* control_access */

.total_control_access {
  background-color: black;
  height: 550px;
}

.control_access {
  background-color: black;
  display: flex;
  justify-content: center;
}

.control_title {
  margin: 25px 10px;
  padding-left: 150px;
}

.control_access_docs-content p {
  margin: 0;
  line-height: 1.5;
  padding-left: 150px;
}

.control_access {
  margin-top: 110px;
  margin-bottom: 150px;
}

/* ----- */
body {
  transition: transform 0.5s ease;
}

.control_access_video {
  perspective: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control_access_video video {
  transition: transform 0.5s ease;
}

.control_access_video:hover video {
  transform: rotateY(15deg) rotateX(10deg) scale(1.05);
}

.control_access_video:hover ~ body {
  transform: rotateY(-10deg) rotateX(-5deg);
}

/* our_customers_love_gitbook */

.love_gitbook_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.love_gitbook_title h1{
    margin: 0px;
}

.fa-heart {
  font-size: 28px;
}

.fa-quote-right{
    transform: scaleX(-1);
}

.total_agilesix{
    display: flex;
    justify-content: center;
    margin-top:40px;
}

.agilesix{
    border: 1px solid #165392;
    border-radius: 15px;
    width: 1100px; 
    background: rgb(31,114,180);
background: linear-gradient(90deg, rgba(31,114,180,1) 31%, rgba(21,81,144,1) 51%, rgba(21,81,144,1) 95%);
margin-bottom: 100px;
}

.agilesix_title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.agilesix_content_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

.agilesix_line1 ,.agilesix_line3{
    padding-left: 12px;
}

.agilesix_line3{
    padding-left: 260px;

}

.agilesix_author{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
}